@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  max-height: 100vh;
  min-height: 100vh;
}

#title-3 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
}

#title-1 {
  font-family: "Unna", serif;
  font-weight: 400;
  font-weight: bold;
  font-style: normal;
  font-size: 7vw;
}

#title-2{
  font-family: "Londrina Outline", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7vw;
  padding-left: 15%;
}

h1{
  padding-inline-start: 0%;
  padding: 0;
  line-height: 1 
}

#title-name{
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  letter-spacing: 3px;
  font-size: 2vw;  
}

@media (min-width: 992px){

  #title-name{
    font-size: 1vw;
  }

  #main{
    max-height: 100vh;
    min-height: 100vh;
  }
}

#navbar:hover{
  border-bottom: 1px solid black;
}

.text-description{
  justify-content: center;
  float: right;
  padding-left: 50%;
  margin-top: 33%;
  padding-right: 15%;
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2vw;
  padding-bottom: 2%;
}

@media (min-width: 992px){
  .text-description{
    font-size: 1vw;
    padding-left: 60%;
  }
}

.keyword{
  font-family: serif;
  font-weight: bold;
}

.button{
  justify-content: center;
  float: right;
  padding-left: 55%;
  margin-top: 45%;
}

button:hover{
  background-color: black;
  color: white;
  border-color: black;
}

@media (min-width: 992px){
  .button{
    justify-content: center;
    margin-top: 38%;
    padding-left: 65%;
  }

}

#orange-powder{
  position: fixed;
  top: 1%;
  right: 1%;
}

#blue-powder{
  position: relative;
  bottom: 1%;
  left: 1%;
}

#about-title{
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  letter-spacing: 8px;
}

#about-subTitle{
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  margin-left: 10%;
}

.aboutME{
  margin-top: 18%;
  padding-left: 30%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);

}

.text-sub{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  padding-bottom: 1%;
}

#skills-container{
  display: flex;
  padding-top: 45%;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.skill-text{
  font-size: 2vw;
}

.icon-skill{
  font-size: 3vw;
  padding-left: 5%;
}

.second-title{
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  line-height: 1;
  margin-top: 10%;
  margin-right: 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.304);
  letter-spacing: 3px;
}

.good{
  font-family: "Londrina Outline", sans-serif;
  letter-spacing: 0;
}

.text-portfolio{
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2.5vw;
}

@media (min-width: 992px){
  #skills-container{
    padding-top: 30%;
  }

  .skill-text{
    font-size: 1vw;
  }

  .second-title{
    font-size: 2vw;
    margin-top: 10%;
  }

  .text-portfolio{
    font-size: 1vw;
  }

  #memoji{
    margin-top: 60%;
  }
}
