@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  max-height: 100vmax;
  min-height: 100vh;
}

#title-3 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
}

#title-1 {
  font-family: "Unna", serif;
  font-weight: 400;
  font-weight: bold;
  font-style: normal;
  font-size: 7vw;
}

#title-2{
  font-family: "Londrina Outline", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7vw;
  padding-left: 15%;
}

.myself-main{
  width: 50vw;
  height: 65vh;
  margin-left: 15%;
}

.good{
  font-family: "Londrina Outline", sans-serif;
  color: orange;
}

h1{
  padding-inline-start: 0%;
  padding: 0;
  line-height: 1 
}

#title-name{
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  letter-spacing: 3px;
  font-size: 2vw;  
}

.home-description{
  justify-content: center;
  float: right;
  padding-left: 50%;
  margin-top: 33%;
  padding-right: 15%;
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2vw;
  padding-bottom: 2%;
}

#navbar:hover{
  border-bottom: 1px solid black;
}

.text-description{
  justify-content: center;
  width: 100vw;
  margin-top: 10%;
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2.5vw;
  padding: 3%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.keyword{
  font-family: serif;
  font-weight: bold;
}

.button{
  justify-content: center;
  float: right;
  padding-left: 55%;
  margin-top: 45%;
}

button:hover{
  background-color: black;
  color: white;
  border-color: black;
}


#orange-powder{
  position: fixed;
  top: 1%;
  left: 1%;
  display: none;
}

#blue-powder{
  position: relative;
  bottom: 1%;
  left: 1%;
}

#bluePowder{
  width: 100%;
  height: 100vh;
}

#about-title{
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  letter-spacing: 8px;
  color: rgb(157, 105, 9);

}

#about-subTitle{
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  margin-left: 10%;
  color: rgb(157, 105, 9);
}

.text-container{
  padding-top: 1%;
}
.aboutME{
  margin-top: 50%;
  padding-left: 30%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
  background-color: #fffbeb;
}

.text-sub{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  padding-bottom: 1%;
}

#skills-container{
  display: flex;
  padding-top: 72%;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 5%;
}

.skill-text{
  font-size: 1.5vw;
}

.icon-skill{
  font-size: 3vw;
  padding-left: 5%;
}

.second-title{
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  line-height: 1;
  margin-top: 10%;
  margin-right: 5%;
  border-right: 1px solid rgba(0, 0, 0, 0.304);
  letter-spacing: 3px;
  color: black;
  padding-left: 5%;
  display: none;
}


.text-portfolio{
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2.5vw;
}

.about-picture{
  width: 100vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
}

.skills-column{
  margin-top: 20%;
  padding: 5%;
}

.text-2xl{
  color: rgb(8, 8, 54);
  font-family: "Unna", serif;
  font-size: 3.5vw;
}

.text-2xl:hover{
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.text-base{
  color: rgba(0, 0, 0, 0.647);
  border-bottom: 1px solid rgba(0, 0, 0, 0.304);
  font-family: "Unna", serif;
  font-size: 3vw;
}

#resume-btn{
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.portfolio{
  color: black;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-size: 5vw;
}

.portfolio-main{
  font-family: "Unna", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 2px;
  padding-bottom: 2%;
  font-size: 2.5vw;
}

.portfolio-container{
  padding-bottom: 2%;
}

.extra-projects{
  border-top: 1px solid rgba(0, 0, 0, 0.178);
  margin-bottom: 2%;
}

#lg-project{
  height: 50vh;
  width: 100%;
}

#md-project{
  height: 40vh;
  width: 100%;
}

#lg-project:hover, #md-project:hover{
  opacity: 0.7;
}

.sub-portfolio{
  font-family: "Patua One", serif;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.sub-text-portfolio{
  font-family: "Unna", serif;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.533);
}

.edu-title, .edu-subtitle{
  font-family: "Patua One", serif;
  font-size: 4vw;
}

.edu-subtitle{
  letter-spacing: 1.5px;
  padding-left: 25%;
}

.img-education{
  height: 55vh;
}

.edu-description{
  font-family: "Unna", serif;
  line-height: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

@media (max-width: 600px){
  .myself-main{
    width: 35vw;
    height: 55vh;
    margin-left: 15%;
  }
}

@media (min-width: 992px){

  #title-name{
    font-size: 1vw;
  }

  #main{
    max-height: 100vh;
    min-height: 100vh;
  }

  .text-description, .edu-text{
    font-size: 1vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    margin-top: 1%;
    max-width: 45vw;
    overflow-wrap: break-word;
  }

  #skills-container{
    padding-top: 25%;
    padding-left: 45%;
  }

  .skill-text{
    font-size: 1vw;
  }

  .second-title{
    font-size: 5vw;
    margin-top: 5%;
    display: block;
  }

  .text-portfolio{
    font-size: 1vw;
  }

  #skill-display{
    padding-top: 4%;
  }

  .button{
    justify-content: center;
    margin-top: 38%;
    padding-left: 65%;
  }

  .about-picture{
    margin-top: 6%;
    height: 90vh;
    width: 40vw;
    float: right;
    justify-content: start;
  }

  .text-container{
    padding-left: 10%;
    padding-top: 10%;
  }

  .home-description{
    justify-content: center;
    float: right;
    padding-left: 60%;
    margin-top: 33%;
    padding-right: 15%;
    font-family: "Unna", serif;
    line-height: 1;
    font-size: 1vw;
    padding-bottom: 2%;
  }

  #about-title, #about-subTitle{
    color: black;
  }

  #orange-powder{
    display: block;
  }

  .skills-column{
    margin-top: 0%;
  }

  .text-base{
    font-size: 1vw;
  }

  .text-2xl{
    font-size: 1.5vw;
  }

  .md-project{
    display: block;
  }

  #icons{
    font-size: 1.5vw;
  }

  .myself-main{
    width: 35vw;
    height: 82vh;
    margin-left: 25%;
  }

  .sub-text-portfolio, .sub-portfolio{
    font-size: 1.5vw;
  }

  .edu-title, .edu-subtitle{
    font-size: 3vw;
  }

  .education-container{
    min-height: 100vh;
  }

  /* Scroll Down animations */
@keyframes show {
  from{
      opacity: 0;
      scale: 25%;
  }
  to{
      opacity: 1;
      scale: 100%;
  }
}

.certificate-container, .portfolio-container{
  view-timeline-name: --iframe;
  view-timeline-axis: block;

  animation-timeline: --iframe;
  animation-name: show;
  animation-duration: 10s;

  animation-range: entry 5% cover 12%;
  animation-fill-mode: both;
}


}
